@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import '../style/colors.scss';
@import '../style/button.scss';

.add-element{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: $text-color;
    text-align: left;

    &--off{
        display: none;
    }

    &__title{
        font-size: 1.4em;
    }

    &__panel{
        border-radius: 1em;
        background: white;
        padding: 2em;
        width: 50%;
        max-width: 600px;
    }

    form{

        label, input{
            display: block;
        }

        label{
            margin: 20px 0;
            font-size: 0.9em;
        }
        input{
            box-sizing: border-box;
            margin: 5px 0;
            padding: 0 15px;
            border: 1px solid $placeholder-color;
            outline: none;
            color: $text-color;
            width: 100%;
            height: 44px;
            border-radius: 10px;

            &::placeholder{
                color: $placeholder-color;
            }

            &:hover, &:active, &:focus{
                border-color: $text-color;
            }
        }
    }

    &__buttons{
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;

        button:first-child{
            margin-right: 30px;
        }
    }

    &__message{
        color: $alert-color;
    }
}