@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
@import '../style/colors.scss';

.header{

    &__input-icon{
        color: grey;

        &--text{
            
        }
    }

    input{
        outline: none;
        border: none;
    }

    .button{
        background: $validate-color;
        color: white;
    }

}

